body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-container .login-box {
  padding: 3rem 1rem;
  text-align: center;
  width: 30%;
  border: 1px solid black;
  margin: auto;
}

.chat-container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.chat-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-contents {
  padding: 2rem;
  background-color: #fff;
  height: 30rem;
  overflow-y: scroll;
}

.message-container {
  width: fit-content;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #a5a5a5;
}

.message-container .message-nickname {
  font-weight: 600;
}
